/* Input alanlarının genel stili */
input {
  background-color: transparent; /* Arka plan rengi saydam */
  color: var(--black); /* Metin rengi */
  font-size: 16px; /* Yazı boyutu */
  padding: 14px 0; /* İç boşluklar */
  border: none; /* Kenarlık yok */
  border-bottom: 1.5px solid var(--black); /* Alt kenarlık */
}
